/**
 * @author: alexandercd
 * @date: 09/octubre/2021
 * @description: 
**/
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

$moderateCyan: hsl(176, 50%, 47%);
$darkCyan: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 48%);

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Commissioner', sans-serif;
}

p, span, li, a {
    font-size: 13px;
}

li {
    list-style-type: none;
    &>a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
}

.stats {
    display: flex; 
}

.btn {  
    cursor: pointer;
    font-weight: bold;
    color: $darkGray;
    border: none;
    border-radius: 30px;
    height: 56px;
    padding: {
        left: 30px;
        top: 15px;
        bottom: 15px;
        right: 30px;
    };
    margin: {
        left: 5px;
        top: 5px;
        bottom: 5px;
    }; 

    &.btn-primary {
        background-color: $moderateCyan;
        color: white;

        &:hover {
            box-shadow: 5px 5px 10px $darkGray; 
            background-color: $darkCyan;
        }
    }

    &.btn-disbaled {
        background-color: $darkGray;
        color: white;
        opacity: 0.7;
        &:hover{
            box-shadow: none;   
        }
    }
} 

.check {  
    display: flex;
    align-items: center; 
    background-color: #EFEFEF;
    cursor: pointer;
    font-weight: bold;
    color: $darkGray; 
    border-radius: 30px; 
    margin: 5px 5px 5px; 
    height: 56px;

    &>span{
        &.icon {
            display: flex;
            align-items: center;
        }

        &.label {
            padding: {
                left: 10px;  
                right: 35px;
            };
        }
    } 

    &:hover{
        box-shadow: 5px 5px 10px $darkGray;
    }
} 

input[type="checkbox"] {
    display: none;
    opacity: 0.0;  

    &:checked+label>span {
        color: $darkCyan; 
        &>svg.icon-bookmark> g  { 
            &>circle {
                fill: $darkCyan;
            }
            &>path {
                fill: #fff;
            }
        }
    } 
}
   

.disbaled {
    opacity: 0.7;
}

body {
    background-color: hsla(0, 0%, 48%, 0.1);
}

/** Header **/
header {
    width: 100%;    
    height: 400px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/image-hero-desktop.jpg');
}

nav {   
    display: flex;
    justify-content: space-between; 
    padding: 2em 3em; 
    max-width: 1200px; 
    align-items: center;
    margin: {
        left: auto;
        right: auto;
        bottom: 10px; 
    };
} 

.nav-right {
    display: flex;
}

li> a {
    padding: 5px;
}

.nav-left {
    padding-left: 30px;
}

.hamburger {
    display: none;
}

/** Card **/
.card {
    max-width: 520px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: {
        left: auto;
        right: auto;
        bottom: 10px; 
    };
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px $darkGray; 

    &> div.card-image-logo {
        margin-top: -50px;
    }
    
    &> div.card-content> .stats {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
}
 

.card-head {
    margin-top: -80px;
}
 

.card-content {
    width: 100%;

    &.head> h2,
    &.head> p {
        text-align: center;
        margin-top: 20px;
    }
}


.card-stats {
    display: flex;
    justify-content: space-evenly;
}

p, span {
    color: $darkGray;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
}

.stats-item {
    width: 30%;
    padding: {
        left: 20px;
        right: 20px;
    };

    &.middle {
        border: {
            left: solid 2px hsla(0, 0%, 48%, 0.2);
            right: solid 2px hsla(0, 0%, 48%, 0.2);
        };  
    }
}
 
.progres-bar-content { 
    height: 10px;
    background: hsla(0, 0%, 48%, 0.2);  
    border-radius: 10px;
    margin: {
        left: 20px;
        right: 30px;
        top: 20px;
    };

    &>div.progres-bar { 
        width: 80%;
        height: 10px;
        border-radius: 10px;
        background-color: $moderateCyan; 

        &:hover {
            background-color: $darkCyan; 
        }
    }
}

.description {
    margin: {
        top: 30px;
        bottom: 30px;
    }; 
}
 
/** Card Item **/
.card-item {
    border: solid 2px hsla(0, 0%, 48%, 0.2);
    border-radius: 8px;
    margin: {
        top: 20px;
        bottom: 20px;
    };
    padding: 35px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.number {
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
    color: $black;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    color: $moderateCyan;
    font-size: 14px;
}
/**  **/

@media screen and (min-width: 100px) and (max-width: 450px) {
    header { 
        background-image: url('../images/image-hero-mobile.jpg');
    }
    nav {     
        padding-left: 20px;   
        padding-top: 30px;
    } 

    .nav-left {
        padding: 0px;
    }

    .nav-right {
        display: none;
    }

    .hamburger {
        content: url('../svgs/icon-hamburger.svg');
    }

    .label {
        display: none;
    }

    .card {
        margin: {
            left: 20px;
            right: 20px;
        };
    }

    .card-stats {
        flex-direction: column;
        align-items: center;
    }

    .stats-item {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .middle {
        border-top-width: 30px;
        border: {
            left: none !important;
            right: none !important; 
        }; 

        &::after,
        &::before {
            content: ' ';
            height: 2px;
            width: 30%;
            background-color: hsla(0, 0%, 48%, 0.2);
        }
    }

    .row {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .col-btn {
        margin-top: 30px;
    }

    .price {
        margin-top: 10px;
    }
}